{% extends 'base.html' %}

{% block title %}Books - Library{% endblock %}

{% block content %}

<h1> Book List </h1>

<ul>
    {% for book in books_object %}
    <li>
        <h3 class="author-name">Author Name: {{ book.auther }}</h3>
        <p class="book-title">Title: {{ book.title }}</p>
        <p class="book-description">Description: {{ book.description }}</p>
        <p class="book-rating">Rating: {{ book.rating }}</p>
        <p class="publish-date">Publish Date: {{ book.publish_date }}</p>
    </li>
    {% empty %}
    <li>No books available.</li>
    {% endfor %}
</ul>

<p class="back-link"><a class="home-link" href="{% url 'home' %}">Back to Home</a></p>

{% endblock content %}
