{% extends 'base.html' %}

{% block title %}Books - Library{% endblock %}

{% block content %}

<h1> Book List </h1>

<ul>
    {% for book in books_object %}
    <li>
        <h3 class="author-name">  
            Author Name:  
                <a href="{% url 'details_book' book.pk  %}">
                    {{ book.auther }}
                </a>
        </h3>
        
    </li>
    {% empty %}
    <li>No books available.</li>
    {% endfor %}
</ul>

<p class="back-link"><a class="home-link" href="{% url 'home' %}">Back to Home</a></p>

{% endblock content %}
